---
---

@charset "utf-8";
// Your custom css /scss here

strong {
  font-weight: 600;
}

#sezione-1, #sezione-11, #sezione-12, #mappa-delle-stragi, #galleria {
  scroll-margin-top: 60px; /* Imposta lo spazio di scorrimento prima dell'elemento ancorato */
}

// pattern full width
.full-width-wrapper {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }

.full-width-image {
  min-width: 100%;
  object-fit: cover;
  margin-top: -0.8rem;
  z-index: 0;
}


.rotated {
transform: rotate(180deg);
        }

// hero image (header)
.hero-chulapa-image {
    background-position: top;
  z-index: 100;
}

.hero-chulapa-image h1 {
  font-size: 4rem;
  font-weight: 500;
  text-shadow: none;
  width: fit-content;
  padding: 0 0.5rem;
}

.hero-chulapa-image .p-summary {
  background-color: #ffffff !important;
  text-shadow: none;
  width: fit-content;
  padding: 0 0.5rem;
  font-size:1.3rem;
  font-weight: 500;
}

.hero-chulapa-image .p-dates {
  background-color :#de1f36 ;
  color: #ffffff !important;
  text-shadow: none;
  width: fit-content;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}
.hero-chulapa-image .p-name{
  text-align: left;
}

.hero-chulapa-image hr{
  margin-left: 0;
}

.tech {
  background-color: rgba(216, 248, 217, 0.7);
  padding: 20px;
  margin-bottom: 20px;
}

.tech-show {
  display: block;
}

.tech-hide {
  display: none;
}

.modal {
  z-index: 100;
}

.modal-backdrop {
  z-index: 99;
}

.sticky-top {
  z-index: 98;
}

// card container:
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;

  .card-img {
    width: 100%;
    object-fit: cover;
    padding: 10px;
  }

  .card-img img {
    max-width: 100%;
  }

  .card-body {
    padding: 10px;
    padding-top: 0;

    h5 {
      margin-top: 0.5rem;
    }
  }
}

.card-container .card {
  flex: 1 1 100%; /* Default: cards take full width on small screens */
  max-width: 100%;
}

@media (min-width: 576px) {
  .card-container .card {
    flex: 1 1 calc(50% - 1rem); /* 2 cards per row on small screens */
    max-width: calc(50% - 1rem);
  }
}

@media (min-width: 768px) {
  .card-container .card {
    flex: 1 1 calc(33.33% - 1rem); /* 3 cards per row on medium screens */
    max-width: calc(33.33% - 1rem);
  }
}

@media (min-width: 992px) {
  .card-container .card {
    flex: 1 1 calc(25% - 1rem); /* 4 cards per row on large screens */
    max-width: calc(25% - 1rem);
  }
}

@media (min-width: 1200px) {
  .card-container .card {
    flex: 1 1 calc(20% - 1rem); /* 5 cards per row on extra-large screens */
    max-width: calc(20% - 1rem);
  }
}

// badges with big numbers and description using grid:
.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  justify-items: center;
  margin-top: 1rem;
}


@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.comic-neue-regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.comic-neue-bold {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
}

// Backgound full width color:
.bg-color-full {
  clip-path: inset(0 -100vmax);
  box-shadow: 0 0 0 100vmax #07286E;;
}

.bg-color {
  background-color: #07286E;
}

// iframe :
iframe {
  border: 0;
}

// wrench
.tech-wrench .fa-wrench:hover {
  transform: scale(1, 1) !important;
}

// navbar

.navbar-brand {
  text-decoration: none;
}
.navbar {
  border-bottom: 1px solid white;
  z-index: 1000;
}

.navbar a.dropdown-item:hover {
  color: #de1f36 !important;
}

ul {
  list-style-type: square;
}

.project {
  border: 1px solid lightgrey;
}

.project:hover {
  border: 1px solid #de1f36;
}

#projects-container a:hover {
  text-decoration: none;
  color: #07286E;
}

#projects-container h5 {
  margin-top: 0;
  font-weight: 700
}

.project {
  background-color: whitesmoke;
}

.nav-item:last-child {
  background-color: #de1f36;
  border-radius: 0;
  padding-inline-start: 0.4em;
  padding-inline-end: 0.4em;
    color: #de1f36;
}

.nav-link:last-child {
  color: lightgray !important;
}

.fas {
  color: grey;
}

.nav-link:last-child:hover {
  color: #fff !important;
}

.header-chulapa h1 {
  margin-top: 2rem;
}

.chulapa-subtitle {
  color: #de1f36 !important;
}

h3 {
  color: #de1f36;
}

@media (max-width: 767px) {
  #projects-container {
    h5 {
      margin-top: 2rem;
    }
    img {
      max-width: 100%
    }
  }

}


// table
.program-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: small;
    border: none;
    table-layout: fixed;
}


.program-table th:first-child,
.program-table td:first-child {
  width: 10%;
  background-color: #07286E;
  color: white;
}

.program-table th:not(:first-child),
.program-table td:not(:first-child) {
  width: 15%;
}


.program-table th {
    vertical-align: top;
    white-space: nowrap;
}

.program-table td {
    border: 1px solid #f2f2f2;
    vertical-align: top;
    border-bottom: 1px solid #87879c;
    border-left: none;
    border-right: none;
}


.program-table .break {
    background-color: #e7eff1;
}

.program-table th,
.program-table td {
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 8px;
}

table td {
  position: relative;
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: rgba(200, 200, 200, 0.2);
}

table td {
  position: relative;
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: rgba(200, 200, 200, 0.2);
}

.highlight-time-cell {
  background-color: rgb(155, 22, 38) !important;
  font-weight: bold;
  color: white;
}

td:hover {
  background-color: rgba(173, 216, 230, 0.5);
}


// grid of logos
.logo-grid {
    display: grid;
    grid-template-columns:  repeat(3, auto);/* 6 columns with 150px width */
    gap: 10px; /* Adjust the gap between logos as needed */
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
}

.logo-grid img {
    max-width: calc(100% - 10px); /* Adjust for the padding */
    max-height: calc(100% - 10px); /* Adjust for the padding */
    width: auto;
    height: auto;
    max-height: 60px; /* Adjust the maximum height as needed */
    display: block;
    margin: auto; /* Center horizontally and vertically */
    padding: 5px; /* Padding for the grid squares */
    box-sizing: border-box; /* Include padding in the total width and height */
}

// call to action
.cta {
  background: url("{{ site.baseurl }}/assets/images/poggio.jpg") no-repeat center center;
  color: white;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.cta h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
}

.cta a {
  background-color:#de1f36;
  text-transform: uppercase;
}